<div class="row r1">
  <img @slideRight id="potrait" class="" src="../../../assets/photo/portrait.png" alt="potrait">
  <div id="chatbox" class="col-sm-4 col-md-3">
    <img @fadeIn id="bubble" src="../../../assets/photo/speech-bubble.png" alt="sclicing speech bubble">
    <b @fadeIn>
      {{dialog[i]}} 
      <br>
      <a id="nextBtn" class="btn" (click)="talk()">
        <i class="bi bi-forward-fill"></i>
      </a>
    </b>
  </div>
</div>
<div class="row r2">
  <img @fadeIn src="../../../assets/photo/vietnamMap.png" alt="Vietnam map" class="col-3">
  <div class="col-4">
    <h2>Proud to be an International Citizen from Vietnam</h2>
    <p>I was born in Vietnam, and came to the U.S since I was 16. Fortunately, I was raised and lived with my second family in Kansas; since then America become my second home. </p>
  </div>
</div>

<div class="row r1">
  <img @fadeIn id="texas" src="../../../assets/photo/Texas.svg" alt="Texas" class="col-3">
  <div class="col-4">
    <h2>A life in Dallas Texas</h2>
    <p>Been to many states for study and travel. Kansas, Massachusetts, Washington State, California, Illinois, and then Texas. Each place give me a unique experience and the love I wanted. And then I choose my final destination to be Texas, the lone star. Here I have friends and family that make me feel I am belong.</p>
  </div>
</div>

